<div class="jumbotron">
  <h1 class="h1 p-3 text-center bg-dark text-white">Pokemon Cards</h1>
</div>

<div class="container">
  <p class="text-center" *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

  <div *ngIf="cards.length > 0">
    <button class="btn btn-default" routerLink="/add">➕ Add Card</button>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let card of cards">
        <div class ="card h-100">
          <img class="card-img-top" [src]="card.picture_url" alt="{{ card.name }}" (error)="card.picture_url = 'assets/not_found.png'"><br>
          
          <div class="card-body text-center">
            <h3 class="card-title">{{ card.name }}</h3> 
            <p class="card-text">Type: {{ card.type }}<br> HP: {{ card.hp }}<br> Rarity: {{ card.rarity }}</p>
          </div>

          <div class="card-footer d-flex gap-1 justify-content-between">
            <button class="btn btn-default border" [routerLink]="['/card', card.id]">View</button>
            <button class="btn btn-default border" [routerLink]="['/edit', card.id]">Edit</button>
            <button class="btn btn-danger" (click)="deleteCard(card.id!)">Delete</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
