<div class="container p-3 text-center">
  <h2 class="h2">{{ isEdit ? 'Edit' : 'Add' }} Card</h2>

  <form class="form-horizontal" (ngSubmit)="onSubmit()">
    <div class="form-group p-2">
      <label class="control-label col-sm-2">Name:</label>
      <input class="form-control" [(ngModel)]="card.name" name="name">
    </div>
    <div class="form-group p-2">
      <label class="control-label col-sm-2">Type: </label>
      <input class="form-control" [(ngModel)]="card.type" name="type">
    </div>
    <div class="form-group p-2">
      <label class="control-label col-sm-2">Rarity: </label>
      <input class="form-control" type="number" [(ngModel)]="card.rarity" name="rarity">
    </div>
    <div class="form-group p-2">
      <label class="control-label col-sm-2">Picture URL: </label>
      <input class="form-control" type="url" [(ngModel)]="card.picture_url" name="picture_url">
    </div>
    <div class="form-group p-2">
      <label class="control-label col-sm-2">HP: </label>
      <input class="form-control" type="number" [(ngModel)]="card.hp" name="hp">
    </div>
    <div class="form-group p-2">
        <button class="btn btn-primary border" type="submit">{{ isEdit ? 'Update' : 'Add' }}</button>
        <button class="btn btn-default border" type="button" routerLink="/">Cancel</button>
    </div>
  </form>
</div>
