<h2>{{ isEdit ? 'Edit' : 'Add' }} Card</h2>

<form (ngSubmit)="onSubmit()">
  <label>Name: <input [(ngModel)]="card.name" name="name"></label><br>
  <label>Type: <input [(ngModel)]="card.type" name="type"></label><br>
  <label>Rarity: <input type="number" [(ngModel)]="card.rarity" name="rarity"></label><br>
  <label>Picture URL: <input type="url" [(ngModel)]="card.picture_url" name="picture_url"></label><br>
  <label>HP: <input type="number" [(ngModel)]="card.hp" name="hp"></label><br>
  

  <button type="submit">{{ isEdit ? 'Update' : 'Add' }}</button>
  <button type="button" routerLink="/">Cancel</button>
</form>
